{% extends "base_generic.html" %}
{% block title %}Cinema Genres{% endblock title %}
{% block header %}Genres{% endblock header %}
{% block content %}
<form action="create">
    <input type="submit" value="Add genre">
</form>

<table>
    <caption>Genre List</caption>
    <thead>
        <tr>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for genre in genres %}
        <tr>
            <td>{{ genre.name }}</td>
            <td>
                <form method="post" action="delete" onsubmit="return confirm('Delete genre \'{{ genre.name }}\'?')">
                    {% csrf_token %}
                    <input type="hidden" name="genre_id" value="{{ genre.id }}">
                    <button type="submit">Delete</button>
                </form>
                <form method="get" action="edit">
                    <input type="hidden" name="genre_id" value="{{ genre.id }}">
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}