{% extends "base_generic.html" %}
{% block title %}Cinema Privacy{% endblock title %}
{% block header %}Privacy policy{% endblock header %}
{% block styles %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    th, td {
        text-align: center;
        border: 1px solid;
    }
</style>
{% endblock styles %}
{% block content %}
<div>
    <p style="text-align: right;"> 
        APPROVED <br>
        By order of the director of Belcinema <abbr title="Limited Liability Company">LLC</abbr> <br>
        No. 20-05/2024 from 05.20.2024
    </p>
    <h3 style="text-align: center;"><strong>
        Policy of the limited liability company "Belcinema" <br>
        regarding the processing of personal data</strong></h3>
    <p style="text-align: center;"><strong>1. General Provisions</strong></p>
    <p>
        1.1. This Policy of Belcinema Limited Liability Company regarding the processing of personal data (hereinafter
        referred to as the Policy) has been developed in accordance with the legislation of the Republic of Belarus on
        the protection of personal data. <br>
        1.2. This Policy defines the activities of Belcinema <abbr title="Limited Liability Company">LLC</abbr> in relation to
        the processing of personal data, aimed at ensuring the protection of personal data, the rights and freedoms of
        individuals in the processing of personal data. <br>
        1.3. Belcinema LLC is a personal data operator, the
        processing of personal data is carried out in accordance with the current legislation of the Republic of
        Belarus, including the Law of the Republic of Belarus dated 07.05.2021 No 99-Z "On the Protection of Personal
        Data" (hereinafter referred to as the Law on Personal Data or the Law) (hereinafter referred to as the
        Operator). <br>
        1.4. The Policy is intended for familiarization of personal data subjects - individuals in
        respect of whom personal data is processed, namely:<br>
        1.4.1. users of the www.skyline.by website; <br>
        1.4.2.
        visitors-spectators of the SKYLINE Cinema Cinema when purchasing goods, services or other programs at the
        address: 220006, Minsk, Galilio Shopping Center, 6 Bobruiskaya Street, 5-7 floors; <br>
        1.4.3.
        visitors-spectators of the SKYLINE Cinema Cinema when purchasing goods, services or other programs at the
        address: 247492, Rechitsa, Global Market Shopping Center, 30 Grigory Shirma Street; <br>
        1.4.4. persons who have
        applied for employment, internship, internship, maintenance of the personnel reserve; <br>
        1.4.5. persons who
        have sent an appeal to Belcinema LLC. <br>
        1.5. The Policy applies to relations in the field of personal data
        processing, including collection, systematization, storage, modification, use, depersonalization, blocking,
        distribution, provision, deletion of personal data, carried out with and without the use of automation tools.
        <br>
        1.6. Personal data can be provided to the Operator both in writing on paper and in electronic form, in any
        available way, including, but not limited to: putting a mark in the field of the Internet
        resource/service/system (resource) of Belcinema LLC "I am familiar with the Policy and agree with its terms",
        with reference to the Policy. <br>
        By transferring personal data to the Operator, including through the Internet
        resources of Belcinema LLC, the personal data subject confirms his consent to the processing of his personal
        data on the terms set forth in the Policy, and confirms that he is familiar with the Policy and agrees with its
        terms. <br>
        1.7. The processing of personal data by the Operator is based on the principles of legality, respect
        for the rights and interests of individuals, and the inviolability of their privacy. <br>
        1.8. The Policy is
        published in free access on the Internet on the Operator's website: www.skyline.by, and is also freely available
        in SKYLINE Cinema cinemas located at the following addresses: 220006, Minsk, Galilio shopping center, 6
        Bobruiskaya Street, 5-7 floors; 247492, Rechitsa, Global Market shopping center, st. Grigory Shirma, 30. <br>

        1.9. The terms contained in Article 1 of the Law on Personal Data are used in this Policy with a similar
        meaning. <br>
        1.10. The Operator does not control and is not responsible for the websites of third parties to
        which the subject of personal data can follow the links available on the Internet resources/serviceax/ systems
        (resources) of the Operator.
    </p>
    <p style="text-align: center;"><strong>2. Purposes of personal data processing</strong></p>
    <p>2.1. The Operator processes personal data for the following purposes:</p>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">
                        <strong>Purposes of personal data processing</strong>
                    </th>
                    <th scope="col">
                        <strong>List of personal data processed</strong>
                    </th>
                    <th scope="col">
                        <strong>Legal basis for processing personal data</strong>
                    </th>
                    <th scope="col">
                        <strong>Period of storage of personal data</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Conclusion and performance of civil law contracts with the Organization </p>
                        <p>(for example, a public contract for the provision of services (public offer agreement), a
                            contract for the provision of services, supply, purchase and sale, contract, etc.)</p>
                    </td>
                    <td>
                        <p>1. In case of concluding a contract in a simple written form with an individual - full name,
                            passport data, registration (residence) address, e-mail address (if necessary), phone number
                            (if necessary). </p>
                        <p>2. In case of conclusion of a contract in a simple written form with a legal entity - details
                            of the legal entity, position of the person who signed the contract, other data in
                            accordance with the terms of the contract (if necessary).</p>
                        <p>3. In case of conclusion of a public service agreement (public offer agreement): e-mail
                            address, phone number.</p>
                    </td>
                    <td>
                        <p>1. In case of entering into an agreement with an individual - processing on the basis of an
                            agreement with the personal data subject </p>
                        <p>(paragraph fifteen of Article 6 of the Law)</p>
                        <p>2. In case of conclusion of an agreement with a legal entity, the processing of personal data
                            is necessary for the performance of obligations (powers) provided for by legislative acts
                        </p>
                        <p>(Paragraph 20 of Article 6 of the Law, Article 49, Paragraph 5 of Article 186 of the Civil
                            Code)</p>
                    </td>
                    <td>
                        <p>3 years after the expiration of the contract, the tax authorities have checked compliance
                            with tax legislation. If the tax authorities did not check compliance with tax legislation -
                            10 years after the expiration of the contract</p>
                        <p>Clause 70 of the List of standard documents approved by the Resolution of the Ministry of
                            Justice of the Republic of Belarus dated 24.05.2012 No 140</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>For video surveillance in SKYLINE Cinema cinemas located at the following addresses: 220006,
                            Minsk, Galilio shopping center, 6 Bobruiskaya Street, 5-7 floors; 247492, Rechitsa, Global
                            Market Shopping Center, 30 Grigory Shirma St.</p>
                    </td>
                    <td>
                        <p>Video image of the personal data subject</p>
                    </td>
                    <td>
                        <p>Regulations on the video surveillance system of Belcinema LLC, para. 20 of Article 6 of the
                            Law, Decree of the President of the Republic of Belarus of November 28, 2013 No. 527 "On the
                            Creation and Application of a Video Surveillance System in the Interests of Ensuring Public
                            Order"; Law of the Republic of Belarus of November 8, 2006 No. 175-Z "On Security Activities
                            in the Republic of Belarus"</p>
                    </td>
                    <td>
                        <p>30 days of the moment of video recording - subp. 5.3. Clause 5 of Decree No 527 of 28.11.2013
                            "On the Creation and Use of a Video Surveillance System in the Interests of Ensuring Public
                            Order"</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Consideration of appeals, including comments and suggestions made in the book</p>
                    </td>
                    <td rowspan="2">
                        <p>Surname, first name, patronymic or initials, </p>
                        <p>address of the place of residence (place of stay), </p>
                        <p>the essence of the appeal, </p>
                        <p>other personal data specified in the application</p>
                    </td>
                    <td>
                        <p>The processing of personal data is necessary for the performance of obligations (powers)
                            provided for by legislative acts </p>
                        <p>(paragraph twenty of Article 6 and paragraph sixteen of paragraph 2 of Article 8 of the Law,
                            paragraph 1 of Article 3 of the Law of the Republic of Belarus "On Appeals of Citizens and
                            Legal Entities")</p>
                    </td>
                    <td>
                        <p>5 years </p>
                        <p>Clauses 85, 89 of the List of standard documents approved by the Resolution of the Ministry
                            of Justice of the Republic of Belarus of 24.05.2012 No 140</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Organization of the provision of information and consulting services (including ticket refund
                            cases)</p>
                    </td>
                    <td>
                        <p>1. In case of entering into an agreement with an individual - processing on the basis of an
                            agreement with the personal data subject </p>
                        <p>(paragraph fifteen of Article 6 of the Law)</p>
                        <p>2. In case of conclusion of an agreement with a legal entity - processing of personal data
                            that is necessary for the performance of duties (powers) provided for by legislative acts
                        </p>
                        <p>(Paragraph 20 of Article 6 of the Law, Article 49, Paragraph 5 of Article 186 of the Civil
                            Code)</p>
                    </td>
                    <td>
                        <p>3 years after the expiration of the contract, the tax authorities have checked compliance
                            with tax legislation. If the tax authorities did not check compliance with tax legislation -
                            10 years after the expiration of the contract</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>For marketing, advertising, news mailings, data analysis</p>
                    </td>
                    <td>
                        <p>Phone number and/or email address (optional);</p>
                    </td>
                    <td>
                        <p>Processing on the basis of a public service agreement (public offer agreement) with the
                            personal data subject </p>
                        <p>(paragraph fifteen of Article 6 of the Law). </p>
                    </td>
                    <td>
                        <p>3 years</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>To consider an application for employment, internship, internship, maintaining a personnel
                            reserve</p>
                    </td>
                    <td>
                        <p>Last name (optional), patronymic (optional), first name;</p>
                        <p>telephone number;</p>
                        <p>other data specified by the subject in the questionnaire</p>
                    </td>
                    <td>
                        <p>Accord</p>
                        <p>or</p>
                        <p>Abs. 16 of Article 6 of the Law of the Republic of Belarus dated 07.05.2021 No. 99-Z "On the
                            Protection of Personal Data" (when sending (submitting) a resume (questionnaire) in writing
                            or in the form of an electronic document)</p>
                    </td>
                    <td>
                        <p>1 year</p>
                        <p>Clause 680 of the List of standard documents approved by the Resolution of the Ministry of
                            Justice of the Republic of Belarus of 24.05.2012 No 140</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>To ensure the convenience of using the site and improve the quality of its functioning, the
                            collection of non-personal data cookies</p>
                    </td>
                    <td>
                        <p>necessary <em>cookies</em> - necessary for the functioning of the website and cannot be
                            disabled in our system. However, the user can configure the browser and define user
                            settings, in which case some sections of the site may not work</p>
                    </td>
                    <td>
                        <p>Accord</p>
                    </td>
                    <td>
                        <p>1 day</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p style="text-align: center;"><strong>3. Processing of personal data</strong></p>
    <p>
        3.1. The processing of personal data is carried out by the Operator in accordance with the requirements of the
        legislation of the Republic of Belarus. <br>
        3.2. Processing of personal data is carried out with the consent of
        personal data subjects to the processing of their personal data, as well as without such consent in cases
        provided for by the legislation of the Republic of Belarus. <br>
        3.3. The Operator carries out both automated
        and non-automated processing of personal data. <br>
        3.4. It is not allowed to disclose to third parties and
        distribute personal data without the consent of the personal data subject, unless otherwise provided by law.
        <br>
        3.5. The Operator has the right to transfer personal data to third parties for the purposes specified in
        accordance with this Policy, under civil law contracts concluded with Belcinema LLC. <br>
        The Operator does not
        entrust the processing of personal data to third parties. <br>
        3.6. The Operator shall store personal data no
        longer than required by the purposes of personal data processing, unless the period of storage of personal data
        is established by the legislation of the Republic of Belarus, the contract. <br>
        <a href="/media/docs/personalDataProccessing.pdf" download>Personal Data Proccessing</a> <br>
        More information: <a href="">https://www.example<wbr>.com/personal<wbr>-data<wbr>-processing<wbr>/policy<wbr>/details<wbr>/and<wbr>/guidelines<wbr>/for<wbr>/users<wbr>/with<wbr>/additional<wbr>/information</a>
    </p>
    <p style="text-align: center;">
        <strong>4. Exercise of the rights of personal data subjects</strong>
    </p>
    <p>
        4.1. The personal data subject has the right to: <br>
        4.1.1. to receive information regarding the processing of
        his/her personal data, except as provided for by law. The list of information and the procedure for obtaining it
        are established by the Law on Personal Data; <br>
        Within 5 business days after receiving an application from the
        personal data subject, the operator provides the relevant information or notifies him of the reasons for
        refusing to provide such information. <br>
        4.1.2. require the Operator to clarify his/her personal data if the
        personal data are incomplete, outdated, inaccurate; <br>
        Upon his/her application containing the relevant
        requirements, the personal data subject shall attach the relevant documents and (or) duly certified copies
        confirming the need to make changes to the personal data. In case of confirmation of the fact of inaccuracy of
        personal data, the Operator, based on the information provided by the personal data subject, clarifies (changes)
        personal data within 15 days from the date of submission of such information. <br>
        4.1.3. to receive information
        about the provision of his/her personal data to third parties, once a calendar year free of charge; <br>
        Within
        15 days after receiving the request, the operator will provide the personal data subject with information about
        what personal data of the subject and to whom were provided during the year preceding the date of filing the
        application, or notify the reasons for refusal to provide it. <br>
        4.1.4. withdraw his/her consent to the
        processing of personal data at any time without giving reasons; <br>
        The right is exercised in accordance with
        the procedure for submitting an application to the Operator in accordance with Article 10 of the Law on Personal
        Data, or in the form through which its consent is obtained. <br>
        The Operator, within 15 days after receiving
        the application in accordance with its content, will stop processing personal data, as well as delete them
        (ensure the termination of the processing of personal data, as well as their deletion by authorized persons, if
        any) and notify the User thereof. <br>
        If the Operator does not have the technical ability to delete personal
        data, the Operator will take measures to prevent further processing of personal data, including their blocking,
        and will notify the personal data subject thereof within the same period. <br>
        The Operator has the right to
        refuse to satisfy the requirements of the personal data subject to terminate the processing of his personal data
        and (or) their deletion if there are grounds for the processing of personal data provided for by law. <br>
        4.1.5. appeal against the actions (inaction) and decisions of the Operator that violate its rights in the
        processing of personal data to the authorized body for the protection of the rights of personal data subjects in
        the manner prescribed by the legislation on appeals of citizens and legal entities.<br>
        4.2. In order to
        exercise the rights specified in clause 4.1. of this Policy, the personal data subject shall submit an
        application to the Operator. <br>
        The application must contain:<br>
        - surname, first name, patronymic (if any)
        of the personal data subject, address of his/her place of residence (place of stay); <br>
        - date of birth of the
        personal data subject; <br>
        - identification number of the subject of personal data, in the absence of such a
        number - the number of the document,verifying the identity of the personal data subject, in cases where this
        information was indicated by the personal data subject when giving his consent to the operator or the processing
        of personal data is carried out without the consent of the personal data subject; <br>
        - a statement of the
        essence of the personal data subject's claims; <br>
        - personal signature or electronic digital signature of the
        personal data subject. <br>
        The application may be sent in writing, in the form of an electronic document signed
        with an electronic digital signature in accordance with the legislation of the Republic of Belarus. <br>
        If the
        application of the personal data subject does not reflect all the necessary information in accordance with the
        requirements of the Law on Personal Data or the subject does not have the right to access the requested
        information, then a reasoned refusal is sent to him, as well as in other cases in accordance with the law. <br>
        4.3. For assistance in the exercise of rights, the personal data subject may also contact the person responsible
        for internal control over the processing of personal data in the Organization by sending a message to the e-mail
        address: <a href="mailto:info@starlight.by">info@starlight.by</a>.</p>
    <p style="text-align: center;">
        <strong>5. Scope and categories of processed personal data, categories of personal data subjects</strong>
    </p>
    <p>
        5.1. The content and volume of processed personal data shall comply with the stated purposes of processing
        provided for in Sec. 2 of this Policy. The processed personal data must not be redundant in relation to the
        stated purposes of their processing. <br>
        5.2. The Operator does not process special categories of personal data
        (related to race or nationality, political views, membership in trade unions, religious or other beliefs, health
        or sexual life, administrative or criminal liability, as well as biometric and genetic personal data).
    </p>
    <p style="text-align: center;"><strong>6. Operator Contacts</strong></p>
    <p>
        Belcinema <br>
        LLC Legal address: 223060, Minsk district, Novodvorsky s/s, Bolshoye Stiklevo village, 40/2, 15th floor, room
        151, S-Union business center. <br>
        Phone: +375 (29) 607-43-40. <br>
        E-mail: <a href="mailto:info@starlight.by">info@starlight.by</a>.
    </p>
</div>
{% endblock content %}